*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to bottom, #E3B8B8,#F6E4E4,#E3B8B8) ;
    background-repeat: no-repeat;
    height: 100vh;
}

nav {
    background-color: #FFF;
    height: 100px;

    display: flex;
    justify-content: space-between;
}

nav div {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav img {
    height: 200px;
}

nav i {
    font-size: 50px;
    padding: 10px;
}

nav p {
    font-size: 25px;
    padding: 20px;
    margin-right: 20px;
}
