*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to bottom, #E3B8B8,#F6E4E4,#E3B8B8) ;
    background-repeat: no-repeat;
    height: 100%;
}