*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #E3B8B8,#F6E4E4,#E3B8B8) ;
    background-repeat: no-repeat;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-box {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
    right: 125px;
}

label {
    font-size: 30px;
    width: 250px;
    text-align: right;
}

input {
    background-color: #D1D1D1;
    padding: 15px;
    border-radius: 20px;
    border: 3px solid;
}

button {
    font-size: 30px;
    background-color: #D1D1D1;
    padding: 20px;
    margin-top: 50px;
    width: 200px;
    border-radius: 20px;
}

img {
    width: 300px;
}